In [2]:
import pandas as pd
df = pd.read_csv('/content/sample_data/california_housing_test.csv')

df.head(3)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0

** More Pandas functions to explore **

In [5]:
df = df.drop(index=1, axis=1)  # Removing 0th row
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
5,-119.56,36.51,37.0,1018.0,213.0,663.0,204.0,1.6635,67000.0
6,-121.43,38.63,43.0,1009.0,225.0,604.0,218.0,1.6641,67000.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

**Keys of DataFrame**

In [6]:
df.keys()

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

**Shape of DataFrame**

In [7]:
df.shape    # Returns number of rows and columns in the df

(2998, 9)

**Unique values in the df**

In [8]:
df['longitude'].unique()

array([-117.81, -118.36, -119.67, -119.56, -121.43, -120.65, -122.84,
       -118.02, -118.24, -119.12, -121.93, -117.03, -117.97, -117.99,
       -120.81, -121.2 , -118.88, -122.59, -122.15, -121.37, -118.16,
       -122.2 , -117.28, -118.03, -122.42, -118.39, -118.45, -118.48,
       -119.35, -118.3 , -121.13, -118.08, -118.32, -118.11, -122.53,
       -118.05, -119.01, -119.32, -116.92, -118.06, -117.27, -118.23,
       -117.24, -121.91, -118.29, -121.35, -120.99, -119.42, -122.21,
       -118.17, -117.9 , -121.42, -118.77, -121.82, -122.29, -121.78,
       -118.41, -121.67, -118.  , -117.22, -121.08, -117.53, -117.46,
       -121.92, -118.2 , -122.05, -123.79, -120.79, -121.89, -118.43,
       -118.75, -122.47, -120.69, -118.28, -118.44, -121.99, -121.02,
       -119.85, -123.52, -122.4 , -118.13, -122.  , -117.5 , -122.22,
       -119.82, -120.21, -120.97, -121.19, -122.23, -121.31, -117.25,
       -118.26, -119.39, -121.51, -119.18, -118.18, -122.43, -117.93,
       -124.16, -117.95, -116.97, -118.85, -117.73, -122.07, -117.18,
       -121.96, -121.74, -118.21, -121.9 , -118.19, -120.93, -122.02,
       -117.19, -118.14, -119.76, -122.34, -122.45, -122.04, -117.39,
       -122.25, -117.98, -120.06, -121.47, -117.23, -119.75, -117.92,
       -121.64, -117.14, -117.91, -118.38, -122.03, -117.13, -119.77,
       -117.7 , -117.07, -117.85, -117.76, -121.56, -118.96, -116.96,
       -118.27, -120.49, -119.09, -121.53, -119.29, -121.84, -122.24,
       -121.8 , -117.43, -117.3 , -117.63, -121.94, -118.07, -117.  ,
       -121.04, -122.12, -119.48, -123.28, -122.89, -118.31, -122.16,
       -121.61, -122.1 , -122.28, -116.91, -121.83, -117.96, -122.14,
       -121.44, -122.26, -122.18, -121.49, -117.86, -118.35, -117.26,
       -122.58, -119.02, -120.51, -121.65, -121.62, -117.08, -123.21,
       -119.61, -114.98, -116.26, -118.4 , -120.64, -117.02, -122.31,
       -118.86, -118.64, -116.63, -119.03, -117.89, -122.09, -122.94,
       -117.1 , -118.98, -120.23, -121.3 , -120.6 , -117.05, -122.08,
       -117.62, -122.11, -121.26, -116.89, -122.67, -117.94, -116.36,
       -117.47, -117.64, -118.5 , -117.66, -122.3 , -120.96, -117.84,
       -119.16, -122.65, -121.88, -121.77, -119.99, -116.81, -121.73,
       -117.31, -119.69, -122.69, -118.37, -122.7 , -117.67, -121.23,
       -117.8 , -118.47, -117.15, -120.85, -118.33, -124.15, -121.59,
       -122.51, -118.25, -119.78, -117.48, -122.35, -119.71, -117.41,
       -121.66, -119.34, -121.5 , -122.17, -117.2 , -121.72, -118.52,
       -118.12, -120.67, -118.97, -122.41, -118.22, -118.01, -121.85,
       -120.47, -121.14, -116.84, -119.98, -118.1 , -120.07, -119.11,
       -117.72, -121.98, -117.42, -122.85, -118.04, -118.46, -122.95,
       -121.86, -119.25, -122.44, -118.99, -118.34, -119.58, -118.42,
       -115.9 , -122.5 , -119.8 , -119.74, -121.97, -116.31, -121.45,
       -122.13, -117.09, -121.46, -122.06, -117.01, -120.87, -121.79,
       -117.59, -117.36, -121.52, -122.27, -122.55, -117.88, -119.57,
       -117.87, -116.88, -118.58, -121.81, -121.7 , -117.4 , -121.55,
       -117.06, -117.69, -122.66, -121.  , -120.89, -120.31, -117.33,
       -118.49, -116.19, -119.73, -117.12, -119.84, -121.28, -117.35,
       -121.32, -119.81, -118.15, -121.22, -119.72, -118.63, -117.49,
       -121.33, -118.74, -122.48, -122.56, -117.83, -121.68, -119.4 ,
       -120.12, -122.79, -118.6 , -120.01, -121.36, -122.54, -116.94,
       -122.6 , -118.73, -121.17, -119.19, -116.83, -123.22, -116.57,
       -117.58, -121.69, -119.28, -117.65, -117.04, -121.07, -122.52,
       -122.19, -121.06, -119.47, -119.27, -124.1 , -120.92, -120.35,
       -123.74, -118.91, -122.32, -119.14, -122.39, -119.7 , -122.68,
       -119.05, -117.54, -120.91, -120.8 , -118.09, -121.38, -117.68,
       -122.37, -121.87, -120.18, -121.1 , -117.74, -123.41, -120.77,
       -118.8 , -123.85, -122.75, -120.66, -122.62, -122.49, -121.27,
       -122.33, -116.  , -117.77, -121.01, -119.62, -120.46, -120.09,
       -122.63, -117.38, -117.21, -116.99, -121.09, -116.66, -116.93,
       -119.33, -119.5 , -120.94, -119.46, -120.32, -121.75, -118.53,
       -120.98, -123.08, -117.32, -121.18, -119.31, -117.11, -122.01,
       -118.62, -119.06, -120.73, -117.82, -122.38, -120.45, -120.54,
       -121.25, -120.33, -119.  , -118.54, -119.88, -116.95, -119.08,
       -121.76, -120.04, -117.34, -114.61, -120.05, -119.54, -117.71,
       -120.25, -123.11, -121.95, -116.76, -122.57, -119.44, -116.86,
       -122.71, -119.3 , -120.43, -115.57, -122.46, -116.85, -117.29,
       -119.63, -119.9 , -117.78, -118.51, -117.75, -121.29, -117.52,
       -117.56, -117.17, -120.61, -117.16, -119.26, -123.35, -116.69,
       -124.17, -122.91, -121.54, -120.56, -120.44, -121.57, -120.02,
       -122.72, -119.59, -120.63, -117.6 , -120.1 , -120.36, -122.64,
       -120.86, -120.15, -120.42, -114.55, -116.48, -121.05, -116.52,
       -118.55, -120.29, -120.7 , -118.61, -116.98, -121.58, -123.8 ,
       -116.73, -119.45, -116.71, -120.88, -119.15, -119.23, -116.77,
       -123.2 , -115.56, -117.37, -120.58, -123.1 , -122.86, -120.62,
       -124.18, -119.22, -119.95, -116.28, -121.71, -123.39, -121.41,
       -121.4 , -119.89, -117.44, -120.84, -116.54, -122.73, -119.64,
       -116.87, -122.36, -124.14, -122.74, -120.68, -120.08, -123.5 ,
       -121.12, -118.93, -122.78, -114.49, -119.55, -116.29, -119.79,
       -118.65, -120.83, -120.3 , -117.51, -124.09, -116.47, -115.6 ,
       -116.43, -118.59, -119.04, -115.49, -116.14, -118.79, -120.4 ,
       -121.6 , -124.01, -120.52, -121.48, -117.61, -121.03, -116.24,
       -118.95, -121.63, -120.24, -121.15, -123.16, -121.24, -122.87,
       -119.2 , -120.57, -118.9 , -117.57, -121.21, -120.5 , -118.68,
       -116.51, -121.34, -119.53, -120.48, -116.61, -119.96, -119.38,
       -123.47, -120.9 , -117.79, -120.78, -122.76, -116.58, -114.62,
       -123.73, -115.52, -115.59, -116.46, -118.67, -119.6 , -119.97,
       -121.39, -123.92, -120.59, -120.27, -119.24, -120.19, -118.57,
       -116.37, -118.7 , -123.02, -120.71, -119.86])

**Grouping the origin and get the sum**

In [9]:
df['longitude'].value_counts()

-118.26    26
-118.21    26
-118.28    25
-118.29    25
-118.27    25
           ..
-120.33     1
-119.00     1
-119.08     1
-114.61     1
-119.86     1
Name: longitude, Length: 607, dtype: int64